/* css resets */

body {
    margin: 0;
    box-sizing: border-box;
    padding-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Utils */

.container {
    max-width: 1480px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
    
}

/* header */

header {
    position: fixed;
    height: 70px;
    background-color: rgb(245, 94, 40);
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 2px 0px 10px grey;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

/* header nav */

.header-nav ul {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.header-nav a:hover {
    text-decoration: underline 2px white;
}


/* header logo */

#boolean-logo {
    max-height: 30px;
    display: block;
}

/* header icons */

.header-icons {
    color: white;
    display: flex;
    gap: 10px;
    cursor: pointer;

}

/* main */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}


.col {
    padding: 10px;
    flex-basis: 400px;
    margin-bottom: 40px;
}


/* card */

.card {
    position: relative;
    max-width: 480px;
}

.card-img {
    max-width: 480px;
    display: block;
}

.img-not-shown {
    display: none;
}

.card:hover .img-shown {
    display: none;
}

.card:hover .img-not-shown {
    display: block;
}

/* cuore */

.heart-container {
    position: absolute;
    top: 10px;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

.heart-container::after {
    content: '\2665';
    
}

.heart-container:hover::after {
    color: red;
}

/* sconto e sostenibilità */

.card-box-left {
    position: absolute;
    bottom: 40px;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
}

.card-box-right {
    position: absolute;
    bottom: 40px;
    left: 51px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
}


/* col-text */

.col-brand {
    font-size: 14px;
}

.col-info {
    text-transform: uppercase;
}

.col-price {
    font-size: 15px;
    
}

.col-price-new {
    color: red;
    font-weight: bold;
}

.col-price-old {
    color: black;
    text-decoration: line-through black;
}


/* footer */

footer {
    background-color: rgb(29, 28, 28);
    height: 80px;
    color: white;
}

.footer-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h4 {
    margin-bottom: 10px;
}

/* footer left */

.footer-left h4 {
    font-size: 16px;
}

.footer-left ul {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

/* footer right */

.footer-right h4 {
    font-size: 14px;
}

.footer-icons {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
